Library/
Library/*
Temp/
Temp/*
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
ProjectSettings/
break_hollows.app/
escape-csharp.sln
escape.sln
escape.userprefs
shadow-haven-unity-csharp.sln
shadow-haven-unity.sln
shadow-haven-unity.*
shadow-haven-unity.userprefs
*.meta
test-results/
test-results/*
